In [10]:
#Assignment_List Question01
my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]
#Sort
my_list.sort()
print(my_list)
#Take first two first elements 
#then take the last two elements
a = my_list[:2]
sum1=a[0]+a[1]
b = my_list[::-1]
sum2=b[0]+b[1]
print('The sum of the lowest two numbers in the list: {}\nThe sum of the highest two numbers in the list:{}'.format(sum1,sum2))

[2, 12, 34, 37, 45, 54, 56, 66, 67, 76, 98]
The sum of the lowest two numbers in the list: 14
The sum of the highest two numbers in the list:174

In [5]:
#Assignment_List Question03
max_score = scores[0]
i=0
for j in scores:
   
    if max_score<scores[i]:
        max_score = scores(i)

counter=0
for j in scores:
    if j == max_score:
        print(j)
        counter+=1
print("Total number of students with highest score is",counter)

99
Total number of students with highest score is 1

In [6]:
#Assignment_List Question02
names = ["David", "Michael", "John", "James", "Greg", "Mark", "William", "Richard", "Thomas", "Steven",   "Mary", "Susan", "Maria", "Karen", "Lisa", "Linda", "Donna", "Patricia", "Debra", "Eric"]
scores = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]
##Listing All
i=0
for j in names:
 
    print(i+1," Name:",names[i],"Score:",scores[i])
    i+=1
name_input=input()
i=0
for j in names:
    if names[i]==name_input:
        print(i+1," Name:",names[i],"Score:",scores[i])
    i+=1
#Assignment_List Question03
max_score = scores[0]
i=0
for j in scores:
   
    if max_score<scores[i]:
        max_score = scores(i)

counter=0
for j in scores:
    if j == max_score:
        print(j)
        counter+=1
print("Total number of students with highest score is",counter)

1  Name: David Score: 99
2  Name: Michael Score: 87
3  Name: John Score: 78
4  Name: James Score: 86
5  Name: Greg Score: 68
6  Name: Mark Score: 94
7  Name: William Score: 76
8  Name: Richard Score: 97
9  Name: Thomas Score: 56
10  Name: Steven Score: 98
11  Name: Mary Score: 76
12  Name: Susan Score: 87
13  Name: Maria Score: 79
14  Name: Karen Score: 90
15  Name: Lisa Score: 73
16  Name: Linda Score: 93
17  Name: Donna Score: 82
18  Name: Patricia Score: 69
19  Name: Debra Score: 97
20  Name: Eric Score: 98
david
99
Total number of students with highest score is 1

In [7]:
#Assignment_List Question04
month_list=[["January",31],["February",28],["March",31],["April",30],["May",31],["June",30],["July",31],["August",31],["September",30],["October",31],["November",30],["December",31]]
print(month_list)

[['January', 31], ['February', 28], ['March', 31], ['April', 30], ['May', 31], ['June', 30], ['July', 31], ['August', 31], ['September', 30], ['October', 31], ['November', 30], ['December', 31]]

In [8]:
#Assignment_List Question05
season_list=[["Winter","Jan",31],["Winter","Feb",28],["Spring","March",31],["Spring","April",30],["Spring","May",31],["Summer","June",30],["Summer","July",31],["Summer","Aug",31],["Autumn","Sep",30],["Autumn","Oct",31],["Autumn","Nov",30],["Winter","Dec",31]]
print(season_list)

[['Winter', 'Jan', 31], ['Winter', 'Feb', 28], ['Spring', 'March', 31], ['Spring', 'April', 30], ['Spring', 'May', 31], ['Summer', 'June', 30], ['Summer', 'July', 31], ['Summer', 'Aug', 31], ['Autumn', 'Sep', 30], ['Autumn', 'Oct', 31], ['Autumn', 'Nov', 30], ['Winter', 'Dec', 31]]

In [9]:
#Assignment_List Question06
i=0
Total_Days_in_Season=0
print(season_list[0][0])
for j in season_list:
    if season_list[i][0]=="Summer":
        Total_Days_in_Season=Total_Days_in_Season+season_list[i][2]
    i=i+1
print("Total number of days in Summer is:",Total_Days_in_Season)

Winter
Total number of days in Summer is: 92